.about {
    margin-top: 80px;
}

.titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--text-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title{
    font-family: 'Audiowide', sans-serif;
    font-size: 80px;
}

.tagAbout {
    color: var(--sub-text-color);
    font-family: "Fira Code";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tagAbout1{
    position: absolute;
    top: 0;
    left: -80px;
}

.tagAbout2{
    position: absolute;
    bottom: 0;
    right: -100px;
}