.about {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}

/*  ============= Section Gap ==================  */
.about {
  padding-top: 80px;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--text-color);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  @apply font-audiowide;
  font-size: 70px;
}

.tagAbout {
  color: var(--sub-text-color);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tagAbout1 {
  position: absolute;
  top: 0;
  left: -80px;
}

.tagAbout2 {
  position: absolute;
  bottom: 0;
  right: -100px;
}

.aboutContent {
  width: 89%;
  margin: 50px 84px 0 84px;
  background: url(../../src/assets/aboutContent.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 6vw 5vw 3.5vw 5vw;
  position: relative;
  scale: 0.9;
}

.mob-aboutContent {
  display: none;
}

.aboutText {
  margin-bottom: 20px;
}

.aboutText p {
  font-size: 34px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  line-height: 50px;
}

.aboutLogo {
  position: absolute;
  width: 10vw;
  height: 10vw;
  top: -55px;
  left: -55px;
  background: url(../../src/assets/aboutLogo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.aboutButton {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutSectionButton {
  display: none;
}

@media screen and (max-width: 1560px) {
  .aboutContent {
    width: 87%;
  }

  .aboutText p {
    line-height: 55px;
    font-size: 32px;
  }
}

@media screen and (max-width: 1250px) {
  .aboutContent {
    width: 86%;
  }

  .aboutButton {
    margin-top: 20px;
  }

  .aboutText p {
    font-size: 28px;
  }
}

@media screen and (max-width: 1200px) {
  .aboutButton {
    margin-top: 0px;
    scale: 0.8;
  }

  .aboutText p {
    font-size: 26px;
  }
}

@media screen and (max-width: 1140px) {
  .aboutContent {
    width: 84%;
  }

  .aboutText p {
    font-size: 24px;
  }
}

@media screen and (max-width: 1180px) {
  .aboutText p {
    line-height: 50px;
  }
}

@media screen and (max-width: 1090px) {
  .aboutLogo {
    top: -46px;
    left: -49px;
  }

  .aboutText p {
    font-size: 21px;
    line-height: 50px;
  }
}

@media screen and (max-width: 1020px) {
  .aboutText p {
    line-height: 43px;
  }
}

@media screen and (max-width: 960px) {
  .aboutLogo {
    top: -44px;
    left: -43px;
  }

  .aboutText p {
    line-height: 40px;
  }
}

@media screen and (max-width: 880px) {
  .aboutText p {
    font-size: 18px;
  }

  .aboutButton {
    scale: 0.7;
  }
}

@media screen and (max-width: 820px) {
  .aboutLogo {
    top: -34px;
    left: -34px;
  }

  .aboutContent {
    margin-left: 65px;
  }

  .aboutText p {
    line-height: 32px;
  }

  .aboutButton {
    scale: 0.6;
  }
}

@media screen and (max-width: 780px) {
  .aboutContent {
    display: none;
  }

  .mob-aboutContent {
    display: block;
    margin-top: 50px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    color: var(--light-text-color);
  }

  .aboutSectionButton {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
}

@media screen and (max-width: 700px) {
  .mob-aboutContent {
    font-size: 17px;
  }
}

@media screen and (max-width: 600px) {
  .mob-aboutContent {
    line-height: 30px;
  }
}

@media screen and (max-width: 500px) {
  .mob-aboutContent {
    font-size: 14px;
  }
}
