.btn-container {
  @apply h-12;
  clip-path: polygon(0% 50%, 10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%);
  background-color: var(--primary-color);
  padding: 2px;
  position: relative;
  z-index: 1;
}

.button {
  @apply inline-flex items-center px-4 w-full h-full text-txt-secondary;
  clip-path: polygon(0% 50%, 10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%);
  background-color: #101d1f;
  transition: var(--transition);
  position: relative;
  z-index: 2;
}

.arrowButton:hover .button {
  background-color: var(--primary-color);
}

.buttonText {
  color: var(--primary-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2px;
  transition: var(--transition);
  text-transform: capitalize;
  word-wrap: nowrap;
}
.arrowButton:hover .buttonText {
  color: var(--background-color);
}

.btn.arrow {
  @apply bg-primary w-[30px] h-12;
  transition: var(--transition);
}

.btn.arrow.left {
  clip-path: polygon(100% 0%, 50% 50%, 100% 100%, 50% 100%, 0% 50%, 50% 0%);
}

.btn.arrow.right {
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 100%, 50% 50%, 0 0);
}
.arrowButton:hover .btn.arrow.left:nth-child(3) {
  animation-name: arrowLive3;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 0.1s;
}
.arrowButton:hover .btn.arrow.left:nth-child(2) {
  animation-name: arrowLive2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
}
.arrowButton:hover .btn.arrow.left:nth-child(1) {
  animation-name: arrowLive1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
}
.arrowButton:hover .btn.arrow.right:nth-child(5) {
  animation-name: arrowLive3;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 0.1s;
}
.arrowButton:hover .btn.arrow.right:nth-child(6) {
  animation-name: arrowLive2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
}
.arrowButton:hover .btn.arrow.right:nth-child(7) {
  animation-name: arrowLive1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
}

@keyframes arrowLive3 {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrowLive2 {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes arrowLive1 {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.8;
  }
}

@media screen and (max-width: 1200px) {
  .arrowButton {
    scale: 0.8;
  }
}

@media screen and (max-width: 600px) {
  .arrowButton {
    scale: 0.7;
  }
}
