:root {
  --background-color: #000000;
  --text-color: #fff;
  --sub-text-color: #7e7e7e;
  --primary-color: #00ff95;
  --primary-color-fade: #162624;
  --sub-background-color: rgba(0, 255, 149, 0.1);
  --light-text-color: #dadada;
  --transition: all 300ms ease;
}

.container {
  min-height: 100vh;
  max-width: 100%;
  background-color: var(--background-color);
  position: relative;
  color: var(--text-color);
  /* z-index: -2; */
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--background-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-fade);
}

#hex-grid {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  /* background-color: red; */
  position: fixed;
  top: 0;
  left: 0;
  /* opacity: 0.2; */
  z-index: 0;
}

#hex-grid .grid {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../assets/grid.svg) repeat;

  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: 500px;
}

#hex-grid .light {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15em;
  height: 15em;
  border-radius: 50%;
  filter: blur(15px);
  background-color: #00ff953d;
  z-index: 0;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--background-color);
  background: var(--primary-color);
}

::selection {
  color: var(--background-color);
  background: var(--primary-color);
}

.mapButton {
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  color: var(--background-color);
  font-weight: 600;
  font-size: 20px;
}

.QR {
  position: absolute;
  top: 220px;
  left: 10px;
  width: 150px;
  height: 150px;
  margin-left: 20px;
  /* border: 2px solid var(--primary-color); */
}
@media only screen and (max-width: 1023px) {
  .QR {
    display: none;
  }
}
@media only screen and (max-width: 870px) {
  #hex-grid .grid {
    display: none;
  }

  #hex-grid .light {
    display: none;
  }
}
