.Events.categorySecion {
  /* background-color: red; */
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 50px;
  position: relative;
  z-index: 1;
}

.Events .categoryOptions {
  display: flex;
  /* justify-content: center;
    align-items: center; */
  /* width: 50px; */

  padding: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  background-color: var(--sub-background-color);
  border: 2px solid var(--primary-color);
  gap: 20px;
  /* flex-wrap: wrap; */
  overflow-x: scroll;
  text-transform: uppercase;
}

.Events .categoryOptions::-webkit-scrollbar {
  display: none;
}

.Events .categoryOptionItem {
  min-width: 200px;
  height: 50px;
  width: fit-content;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: red; */
  padding: 10px;
  font-size: 16px;
  border: 2px solid var(--primary-color);
  background-color: var(--sub-background-color);
  color: var(--text-color);
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 2px;
  overflow: hidden;
}

/* .projectOptionItem {
    min-width: 20px;
    font-size: 14px;
    text-align: center;
} */

.Events .categoryOptionItem:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.categoryTitle {
  margin-top: 50px;
}

.categoryCardSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 80px;
  flex-wrap: wrap;
  gap: 30px;
  /* background-color: red; */
}

.categoryHeading {
  text-transform: capitalize;
}
