.gallery {
    /* height: 100vh; */
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
}

.gallery {
    /* margin-top: 100px; */
    /* padding-top: 80px; */
}

.galleryAbout {
    margin-bottom: 100px;
}

.galleryContent {
    margin-top: 60px;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
}