/* ========= Top space ========= */
.home {
  /* padding-top: 110px; */
}
.home {
  max-width: 1320px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  /* background-color: red; */
}

.topSectionHome {
  display: none;
}

/* ========= left Section ========= */
.leftSectionHome {
  padding-left: 62px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

.tag {
  color: var(--sub-text-color);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.tagSubTitle {
  font-size: 20px;
}

/* .subTitleHome {
  
} */

.subTitleHomeText {
  color: var(--primary-color);
  font-size: 38px;
  font-style: normal;
  letter-spacing: -2px;
  font-weight: 400;
  line-height: normal;
}

.titleHome {
  margin-left: 50px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
}

.titleHomeText {
  color: var(--text-color);
  text-align: left;
  @apply font-audiowide;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 25px;
}

/* ========= right Section ========= */
.rightSectionHome {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.imgHomeWrapper {
  width: 308px;
  height: 308px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 308px;
  background-image: url("../assets/Ellipse.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  scale: 1;
}

.imgHome {
  border-radius: 50%;
  height: 220px;
  width: 220px;
  border: 2px solid var(--primary-color);
}

.ellipseBig {
  position: absolute;
  top: -19px;
  left: -6px;
  height: 330px;
  width: 330px;
}

.ellipse-fast {
  position: absolute;
  left: 0;
  top: 0;
  scale: 1.1;
  transform: rotate(90deg);
  animation: circle-animation1 5s infinite linear;
  @apply pointer-events-none;
}

@keyframes circle-animation1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ellipse-slow {
  position: absolute;
  left: 0;
  top: 0;
  scale: 1.1;
  transform: rotate(-90deg);
  animation: circle-animation2 15s infinite linear;
  @apply pointer-events-none;
}

@keyframes circle-animation2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
/* ========= Home Section ( RESPONSIVE ) ========= */

@media screen and (max-width: 1250px) {
  .tag {
    font-size: 30px;
  }

  .titleHomeText {
    font-size: 60px;
  }
}
@media only screen and (max-width: 1040px) {
  .imgHomeWrapper {
    width: 250px;
    height: 250px;
  }
  .imgHome {
    height: 180px;
    width: 180px;
  }
  .subTitleHomeText {
    font-size: 30px;
  }
  .leftSectionHome {
    padding-left: 30px;
  }
  .home {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 900px) {
  .imgHomeWrapper {
    width: 200px;
    height: 200px;
  }
  .imgHome {
    height: 150px;
    width: 150px;
  }
  .titleHomeText {
    font-size: 50px;
  }
}
@media only screen and (max-width: 800px) {
  .home {
    flex-direction: column-reverse;
    /* padding-top: 50px; */
  }
  .leftSectionHome {
    padding-left: 0;
    align-items: center;
    width: 100%;
  }
  .titleHome {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-left: 0px;
  }
  .titleHomeText {
    margin-left: 0px;
    font-size: 70px;
  }
  .subTitleHomeText {
    font-size: 30px;
  }
  .imgHomeWrapper {
    width: 270px;
    height: 270px;
  }
  .imgHome {
    height: 200px;
    width: 200px;
  }
}
@media only screen and (max-width: 800px) {
  .home {
    padding-top: 100px;
    min-height: 0vh;
    gap: 50px;
    height: fit-content;
    /* height: 20vh !important; */
    /* background-color: red; */
    /* justify-content: flex-end; */
  }
  .titleHomeText {
    font-size: 50px;
  }
  .subTitleHomeText {
    font-size: 25px;
  }
  .imgHomeWrapper {
    width: 220px;
    height: 220px;
  }
  .imgHome {
    height: 160px;
    width: 160px;
  }
  .rightSectionHome {
    height: fit-content;
  }
}
@media only screen and (max-width: 540px) {
  .titleHomeText {
    font-size: 40px;
  }
}
@media only screen and (max-width: 450px) {
  .titleHome {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
  }
  .titleHomeText {
    font-size: 35px;
    margin-left: 30px;
  }
  .leftSectionHome {
    align-items: flex-start;
    width: fit-content;
    gap: 10px;
  }
  .subTitleHomeText {
    font-size: 20px;
  }
}
@media only screen and (max-width: 390px) {
  .subTitleHomeText {
    font-size: 18px;
  }
  .tagSubTitle {
    font-size: 12px;
  }
  .subTitleHome {
    gap: 10px;
  }
  .titleHome {
    gap: 10px;
  }
  .imgHomeWrapper {
    width: 200px;
    height: 200px;
  }
  .imgHome {
    height: 150px;
    width: 150px;
  }
}
@media only screen and (max-width: 350px) {
  .titleHome {
    margin-left: 20px;
  }
  .titleHomeText {
    font-size: 30px;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 300px) {
  .imgHomeWrapper {
    width: 180px;
    height: 180px;
  }
  .imgHome {
    height: 140px;
    width: 140px;
  }
}
/* @media screen and (max-width: 1000px) {
  .tag {
    font-size: 20px;
  }

  .titleHomeText {
    font-size: 50px;
  }

  .rightSectionHome {
    scale: 0.8;
  }
}

@media screen and (max-width: 870px) {
  .rightSectionHome {
    display: none;
  }

  .topSectionHome {
    display: block;
    margin-bottom: 6vh;
    margin: 45px 0;
  }

  .home {
    flex-direction: column;
    align-items: center;
  }

  .leftSectionHome {
    padding-left: 0;
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .titleHomeText {
    font-size: 40px;
  }

  .topSectionHome {
    scale: 0.8;
    margin: 0 0 30px 0;
  }
}

@media screen and (max-width: 500px) {
  .tag {
    font-size: 18px;
  }

  .titleHomeText {
    font-size: 30px;
  }
}

@media screen and (max-width: 410px) {
  .tag {
    font-size: 15px;
  }

  .titleHomeText {
    font-size: 25px;
  }

  .topSectionHome {
    scale: 0.65;
  }
} */
