.home {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  /* height: 88vh; */
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  align-items: center;
  /* padding-top: 80px; */
  /* background-color: red; */
  position: relative;
  z-index: 1;
}

.topSectionHome {
  display: none;
  ;
}

/* ========= left Section ========= */
.leftSectionHome {
  padding-left: 42px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

.tag {
  color: var(--sub-text-color);
  font-size: 35px;
  /* font-size: 2vw; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subTitleHome {
  white-space: nowrap;
}

.subTitleHomeText {
  color: var(--primary-color);
  /* font-size: 35px; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bottomTitleHome {
  margin-left: 20px;
}

.titleHome {
  margin-left: 60px;
}

.titleHomeText {
  color: var(--text-color);
  text-align: center;
  @apply font-audiowide;
  font-size: 80px;
  /* font-size: 5vw; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}

/* ========= right Section ========= */
.rightSectionHome {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.imgHomeWrapper {
  width: 308px;
  height: 308px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 308px;
  background-image: url("../assets/Ellipse.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  scale: 1;
}

.imgHome {
  border-radius: 50%;
  height: 220px;
  width: 220px;
  border: 2px solid var(--primary-color);
}

.ellipseBig {
  position: absolute;
  top: -19px;
  left: -6px;
  height: 330px;
  width: 330px;
}

.ellipse-fast {
  position: absolute;
  left: 0;
  top: 0;
  scale: 1.1;
  transform: rotate(90deg);
  animation: circle-animation1 5s infinite linear;
}

@keyframes circle-animation1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ellipse-slow {
  position: absolute;
  left: 0;
  top: 0;
  scale: 1.1;
  transform: rotate(-90deg);
  animation: circle-animation2 15s infinite linear;
}

@keyframes circle-animation2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 1250px) {
  .tag {
    font-size: 30px;
  }

  .titleHomeText {
    font-size: 60px;
  }
}

@media screen and (max-width: 1000px) {
  .tag {
    font-size: 20px;
  }

  .titleHomeText {
    font-size: 50px;
  }

  .rightSectionHome {
    scale: 0.8;
  }
}

@media screen and (max-width: 870px) {
  .rightSectionHome {
    display: none;
  }

  .topSectionHome {
    display: block;
    margin-bottom: 6vh;
    margin: 45px 0;
  }

  .home {
    flex-direction: column;
    align-items: center;
  }

  .leftSectionHome {
    padding-left: 0;
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .titleHomeText {
    font-size: 40px;
  }

  .topSectionHome {
    scale: 0.8;
    margin: 0 0 30px 0;
  }
}

@media screen and (max-width: 500px) {
  .tag {
    font-size: 18px;
  }

  .titleHomeText {
    font-size: 30px;
  }
}

@media screen and (max-width: 410px) {
  .tag {
    font-size: 15px;
  }

  .titleHomeText {
    font-size: 25px;
  }

  .topSectionHome {
    scale: 0.65;
  }
}