.Members {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  position: relative;
  z-index: 1;
}
.categoryTitle {
  /* background-color: red; */
  /* font-size: 35px; */
  color: var(--primary-color);
  @apply font-audiowide;
  width: fit-content;
  margin: 0 auto;
  margin-top: 50px;
}
.membersCategory {
  /* background-color: red; */
  min-width: fit-content;
  /* gap: 10px; */
}
.membersOptions {
  width: fit-content;
}
.membersCategory.active {
  background-color: var(--primary-color) !important;
  color: var(--background-color);
}
