.members {
    /* height: 100vh; */
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
}

/*  ============= Section Gap ==================  */
.members {
    /* margin-top: 100px; */
    padding-top: 80px;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--text-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    font-family: 'Audiowide', sans-serif;
    font-size: 80px;
}

.tagAbout {
    color: var(--sub-text-color);
    font-family: "Fira Code";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tagAbout1 {
    position: absolute;
    top: 0;
    left: -80px;
}

.tagAbout2 {
    position: absolute;
    bottom: 0;
    right: -100px;
}

/* ========================================================================================== */

.membersRight {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
}

.membersProfile {
    /* background-color: orange; */
}

.membersContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 100px; */
    /* background-color: green; */
    /* width: fit-content; */
    padding: 0px 100px;
    gap: 30px;
    position: relative;
  z-index: 1;
}

.membersContenetBorder,
.membersContenet {
    clip-path: polygon(79% 0, 100% 16%, 100% 100%, 21% 100%, 0 84%, 0 0);
}

.membersContenetBorder {
    background-color: var(--primary-color);
    padding: 5px;
    position: relative;
}

.membersContenet {
    background-color: var(--primary-color-fade);
    height: 400px;
    width: 650px;
    padding: 50px;
}

.membersContenetAbout h2 {
    font-family: "Audiowide", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    color: var(--text-color);
}

.membersContenetAbout h3 {
    font-family: "Audiowide", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    color: var(--primary-color);
}

.membersContenetAbout p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: var(--text-color);
}

.membersConteneLinks {
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.linkedinBtn,
.gitBtn,
.instaBtn,
.fbBtn {
    color: var(--primary-color);
    font-size: 40px;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--primary-color) !important;
}

.swiper-pagination-bullet {
    display: none !important;
}

.tab-membersContainer {
    display: none;
}
.mob-membersContainer {
    display: none;
}


@media screen and (max-width: 1230px) {
    .membersContainer {
        padding: 0px 90px;
        gap: 30px;
    }

    .membersProfile {
        scale: 0.9;
    }

    .membersContenetBorder {
        scale: 0.9;
    }
}

@media screen and (max-width: 1150px) {
    .membersContainer {
        padding: 0px 60px;
        /* gap: 25px; */
    }

    .membersProfile {
        scale: 0.8;
    }

    .membersContenetBorder {
        scale: 0.8;
    }
}

@media screen and (max-width: 1090px) {
    .tab-membersContainer {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .membersContainer {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .tab-membersContainer {
        display: none;
    }
    
    .mob-membersContainer{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 520px) {
    .mob-membersContainer {
        scale: 0.8;
    }
}

@media screen and (max-width: 420px) {
    .mob-membersContainer {
        scale: 0.7;
    }
}