.navbar {
  background-color: #00000054;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  position: sticky;
  top: 0;
  left: 0;
  color: var(--text-color);
  font-size: 25px;
  font-weight: 400;
  z-index: 999;
}

/* ========= Glassmorphism ========= */
.navbar {
  background: #00000038;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}
.navItem {
  display: flex;
}

/* navbar section indicator css */
.sectionNumber {
  color: var(--sub-text-color);
  margin-right: 10px;
}
.sectionTitle {
  color: var(--text-color);
}

/* navbar logo */
.navLogo {
  @apply font-audiowide;
  font-size: 50px;
  margin-right: 80px;
  letter-spacing: 5px;
}
