.projectSection {
  width: 100%;
  /* margin-top: 100px; */
  margin-left: auto;
  margin-right: auto;
  /* background-color: var(--background-color); */
  padding-top: 80px;
  /* padding-bottom: 50px; */
  position: relative;
  position: relative;
  z-index: 1;
}

/* ========= project section ========= */
.projectSwiperContainer {
  margin-top: 50px;
}

.projectSectionGraphics {
  position: absolute;
  top: 0;
  right: 0;
}

.projectSectionButton {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.projectItem {
  height: 500px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  z-index: -2;
  padding: 20px;
  background-image: url(../assets/projectCard.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.contributors {
  /* background-color: red; */
  width: 100%;
  margin-top: 20px;
  height: 40px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contributorsImg {
  min-width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--primary-color);
}

.contributors img {
  /* width: 100%; */
  height: 100%;
}

.mob-contributors {
  /* background-color: red; */
  width: 100%;
  /* margin-top: 20px; */
  height: 70px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mob-contributorsImg {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--primary-color);
}

.mob-contributors img {
  /* width: 100%; */
  height: 100%;
}

/* ========= Project Section image ========= */

.projectItemImg {
  width: 300px;
  height: 400px;
  /* overflow: hidden; */
  background-color: var(--primary-color);
  clip-path: polygon(16% 0, 100% 0, 100% 88%, 85% 100%, 0 100%, 0 14%);
  padding: 4px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.projectItemImg img {
  height: 100%;
  width: 100%;
  clip-path: polygon(16% 0, 100% 0, 100% 88%, 85% 100%, 0 100%, 0 14%);
}

/* ========= Project Section content ========= */

.projectItemContent {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* gap: 20px ; */
  padding-left: 20px;
}

.projectItemContent h3 {
  font-family: "Audiowide", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  /* 100% */
}

.projectItemContent h4 {
  color: var(--primary-color);
  margin-top: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.projectSectionText {
  color: #fff;
  font-family: "Fira Code";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  margin-top: 20px;
  line-height: 160%;
}

.buttonSection {
  /* margin-top: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  scale: 0.7;
}

.mob-projectItem {
  display: none;
}

@media screen and (max-width: 1100px) {
  .projectItem {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 820px) {
  .projectItem {
    display: none;
  }

  .mob-projectItem {
    display: block;
  }

  .mob-projectItem {
    width: 500px;
    height: 600px;
    clip-path: polygon(14% 0, 100% 0, 100% 88%, 85% 100%, 0 100%, 0 12%);
    background-color: var(--primary-color);
    padding: 5px;
  }

  .mob-projectItemContent {
    width: 100%;
    height: 100%;
    clip-path: polygon(14% 0, 100% 0, 100% 88%, 85% 100%, 0 100%, 0 12%);
    background-color: #000;
    display: flex;
    justify-content: start;
    padding: 20px;
  }

  .mob-projectItemImg {
    width: 450px;
    height: 250px;
    /* overflow: hidden; */
    background-color: var(--primary-color);
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 20%);
    padding: 4px;
    position: relative;
    overflow: hidden;
    z-index: 2;
  }

  .mob-projectItemImg img {
    height: 100%;
    width: 100%;
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 20%);
  }

  .mob-projectContent {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
  }

  .mob-projectSectionText {
    color: #fff;
    font-family: "Fira Code";
    font-size: 20px;
    margin-top: 10px;
    line-height: 160%;
    text-align: center;
  }

  .mob-btn {
    width: 100%;
    /* background-color: green; */
    margin-top: 20px;
    display: flex;
    position: relative;
  }

  .previewBtn {
    /* left: ; */
    scale: 0.7;
    position: relative;
    left: 65px;
  }
}

@media screen and (max-width: 600px) {
  .mob-projectItem {
    width: 350px;
    height: 450px;
    clip-path: polygon(14% 0, 100% 0, 100% 88%, 85% 100%, 0 100%, 0 12%);
    background-color: var(--primary-color);
    padding: 5px;
    scale: 0.95;
  }

  .mob-projectItemContent {
    height: 100%;
    width: 100%;
    clip-path: polygon(14% 0, 100% 0, 100% 88%, 85% 100%, 0 100%, 0 12%);
    background-color: #000;
    display: flex;
    justify-content: start;
    padding: 20px;
  }

  .mob-projectItemImg {
    width: 300px;
    height: 150px;
    /* overflow: hidden; */
    background-color: var(--primary-color);
    clip-path: polygon(11% 0, 100% 1%, 100% 80%, 89% 100%, 0 100%, 0 23%);
    padding: 4px;
    position: relative;
    overflow: hidden;
    z-index: 2;
  }

  .mob-projectItemImg img {
    height: 100%;
    width: 100%;
    clip-path: polygon(11% 0, 100% 1%, 100% 80%, 89% 100%, 0 100%, 0 23%);
  }

  .mob-projectContent {
    width: 100%;
    margin: 10px 0px;
    margin-top: 30px;
  }

  .mob-projectContent h3 {
    font-family: "Audiowide", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  .mob-projectContent h4 {
    color: var(--primary-color);
    margin-top: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.5px;
  }

  .mob-projectSectionText {
    color: #fff;
    font-family: "Fira Code";
    font-size: 14px;
    margin-top: 20px;
    line-height: 160%;
  }

  .mob-btn {
    width: 100%;
    /* background-color: green; */
    margin-top: 5px;
    display: flex;
    position: relative;
  }

  .previewBtn {
    scale: 0.7;
    position: relative;
    left: -10px;
  }

  .mob-contributors {
    margin-top: 5px;
    height: 45px;
  }

  .mob-projectContent {
    width: 100%;
    margin: 0px;
    margin-top: 15px;
  }

  .mob-projectSectionText {
    margin-top: 15px;
  }

  .mob-btn {
    margin-top: 0px;
  }
}

@media screen and (max-width: 590px) {
  .projectItem {
    transform: scale(0.5);
  }
}

@media screen and (max-width: 470px) {
  .projectItem {
    transform: scale(0.45);
  }
}

@media screen and (max-width: 385px) {
  .projectItem {
    transform: scale(0.4);
  }
}
