.Projects {
    padding-top: 80px;
}

.Projects .aboutDescription {
    position: relative;
    z-index: 2;
}

.Projects .categoryOptions {
    width: 1000px;
    overflow: scroll;
}

.Projects .event-time {
    /* text-wrap: nowrap !important; */
}

.Projects .event-name {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .aboutDescription {
        font-size: 15px;
    }
}