.projectSection {
  width: 100%;
  /* margin-top: 100px; */
  margin-left: auto;
  margin-right: auto;
  /* background-color: var(--background-color); */
  padding-top: 80px;
  /* padding-bottom: 50px; */
  position: relative;
}

/* ========= project section ========= */
.projectSwiperContainer {
  margin-top: 50px;
}

.projectSectionGraphics {
  position: absolute;
  top: 0;
  right: 0;
}

.projectItem {
  height: 500px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  z-index: -2;
  padding: 20px;
  background-image: url(../assets/projectCard.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* ========= Project Section image ========= */

.projectItemImg {
  width: 300px;
  height: 400px;
  /* overflow: hidden; */
  background-color: var(--primary-color);
  clip-path: polygon(16% 0, 100% 0, 100% 88%, 85% 100%, 0 100%, 0 14%);
  padding: 4px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.projectItemImg img {
  height: 100%;
  width: 100%;
  clip-path: polygon(16% 0, 100% 0, 100% 88%, 85% 100%, 0 100%, 0 14%);
}

/* ========= Project Section content ========= */

.projectItemContent {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* gap: 20px ; */
  padding-left: 20px;
}

.projectItemContent h3 {
  font-family: "Audiowide", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  /* 100% */
}

.projectItemContent h4 {
  color: var(--primary-color);
  margin-top: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.projectSectionText {
  color: #fff;
  font-family: "Fira Code";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  margin-top: 20px;
  line-height: 160%;
}

.buttonSection {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  scale: 0.7;
}

@media screen and (max-width: 1100px) {
  .projectItem {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 820px) {
  .projectItem {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 706px) {
  .projectItem {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 590px) {
  .projectItem {
    transform: scale(0.5);
  }
}

@media screen and (max-width: 470px) {
  .projectItem {
    transform: scale(0.45);
  }
}

@media screen and (max-width: 385px) {
  .projectItem {
    transform: scale(0.4);
  }
}