.terminal {
  position: fixed;
  /* bottom: 40px; */
  bottom: 40px;
  left: 0px;
  width: 100%;
  z-index: 999;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  gap: 20px;
}

.terminal .input {
  color: var(--primary-color);
  width: 50vw;
  font-size: 22px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  padding-left: 20px;
  background: #000000;
  /* backdrop-filter: blur(18px); */
  /* -webkit-backdrop-filter: blur(18px); */
  border: 2px solid var(--primary-color);
}

.terminal .submit {
  /* background: red; */
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 30px;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  background: #000000;
  /* backdrop-filter: blur(18px); */
  /* -webkit-backdrop-filter: blur(18px); */
  transition: all 0.1s linear;
}

.terminal .submit:hover {
  /* background-color: var(--sub-background-color); */
  /* background-color: #ffffff59; */
  transform: scale(1.05);
}

.moreInfo {
  position: absolute;
  bottom: 65px;
  background-color: var(--background-color);
  width: 50vw;
  max-height: 200px;
  left: calc((100% - 50vw) / 2 - 38px);
  border-radius: 10px;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid var(--primary-color);
}

.moreInfo::-webkit-scrollbar {
  width: 8px;
}

.moreInfo::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

.moreInfo::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}

.moreInfo::-webkit-scrollbar-thumb:hover {
  background-color: var(--sub-background-color);
}

.moreInfoItem {
  cursor: pointer;
  padding: 15px;
  font-size: 20px;
  transition: all 0.1s linear;
}

.moreInfoItem:hover {
  background-color: var(--sub-background-color);
  color: var(--primary-color);
  padding-left: 25px;
}
.moreInfoItem.active {
  background-color: var(--sub-background-color);
  color: var(--primary-color);
  padding-left: 25px;
}

@media only screen and (max-width: 1000px) {
  .terminal {
    bottom: 55px;
  }
  .terminal .input {
    font-size: 18px;
    width: 55vw;
  }

  .terminal .submit {
    font-size: 24px;
  }
}

@media only screen and (max-width: 870px) {
  .terminal .input {
    width: 80vw;
  }

  .moreInfo {
    width: 80vw;

    left: calc((100% - 80vw) / 2 - 38px);
  }
}

@media only screen and (max-width: 588px) {
  .terminal .input {
    width: 70vw;
    font-size: 15px;
  }

  .terminal .submit {
    font-size: 19px;
  }

  .moreInfo {
    width: 70vw;
    left: calc((100% - 70vw) / 2 - 38px);
  }
}
