/* ========= tailwind import ========= */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* ========= fonts import ========= */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}


